# Byte-compiled / optimized / DLL files
__pycache__/


# C extensions
*.so

.DS_Store
.Rhistory

.ipynb_checkpoints

*.html
!media/*.html
Tutorial/rsconnect
media/heatmap.jpg
.Rproj.user


.vscode
.connection_details.yaml
*.code-workspace
# files created by Genecatalog
*/Genecatalog/Filtered_genes_cpm.tsv.gz
*/Genecatalog/Kegg_counts.tsv.gz
*/Genecatalog/Kegg_cpm.tsv.gz
