# Byte-compiled / optimized / DLL files
__pycache__/


# C extensions
*.so

.DS_Store
.Rhistory

.ipynb_checkpoints

*.html
!media/*.html
Tutorial/rsconnect
media/heatmap.jpg
.Rproj.user


.vscode
.connection_details.yaml
*.code-workspace